In [153]:
# <img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 15px; height: 80px">
                                                                    
# Project 2

### Exploratory Data Analysis (EDA)

---

This project is focused on exploratory data analysis (EDA). EDA is an essential part of the data science analysis pipeline. Failure to perform EDA before modeling is almost guaranteed to lead to pitfalls and faulty conclusions. What you do in this project are good practices for all projects going forward, especially those beyond this class!

Problems 1 thru 6 use a small dataset on state SAT scores.

Problems 7 thru 12 use a fraction of the Iowa Liquor Sales dataset (described in more detail in question 7).

---

This project includes a variety of plotting problems. Much of the plotting code will be left up to you to find either in the lecture notes, or if not there, online. There are massive amounts of code snippets either in documentation or sites like stackoverflow that have almost certainly done what you are trying to do.

**Get used to using google for finding code!** You will be using it every single day as a data scientist, especially for visualization and plotting.

#### Package imports

SyntaxError: invalid syntax (<ipython-input-153-52de2851cd73>, line 7)

In [ ]:
import numpy as np
import scipy.stats as stats
import csv
import pandas as pd

# this line tells jupyter notebook to put the plots in the notebook rather than saving them to file.
%matplotlib inline

# this line makes plots prettier on mac retina screens. If you don't have one it shouldn't do anything.
%config InlineBackend.figure_format = 'retina'

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 1. Load the `sat_scores.csv` dataset and describe it

---

You should replace the placeholder path to the `sat_scores.csv` dataset below with your specific path to the file.

### 1.1 Load the file with the `csv` module and put in dictionary format.

The dictionary format for data will be keys as the column names/headers, and values as the row values for that column.

Toy example:
```python
data = {
    'column1':[0,1,2,3],
    'column2':['a','b','c','d']
    }
```

In [ ]:
sat_filepath = '../../DSI-SF-4/datasets/state_sat_scores/sat_scores.csv'

In [ ]:
sat_data_dict = {}
reader = csv.DictReader(open(sat_filepath))

for row in reader:
    for column, value in row.iteritems():
        sat_data_dict.setdefault(column, []).append(value)

print sat_data_dict

### 1.2 Make a pandas DataFrame object with the sat dictionary and also with the pandas `.read_csv()` function

Compare the DataFrames using the `.dtypes` attribute in the DataFrame objects. What is the difference between loading from file and inputting this dictionary (if any)?

In [ ]:
sat_data_1 = pd.DataFrame.from_dict(sat_data_dict)

sat_data_2 = pd.read_csv(sat_filepath)

print sat_data_1.dtypes, '\n\n', sat_data_2.dtypes

# Loading from file appears to have understood the column types better than creating a DataFrame from a dictionary

If you did not convert the string column values to float in your dictionary, the columns in the DataFrame are of type `object` (which are string values).

### 1.3 Look at the first ten rows of the DataFrame and describe what the data appears to be. 

From now on, use the DataFrame loaded from the file using the `.read_csv()` function.

Use the `.head(num)` built-in DataFrame function, where `num` is the number of rows to print out.

You are not given a "codebook" with this data, so you will have to make some (very minor) inference.

In [ ]:
sat_data = pd.read_csv(sat_filepath)

sat_data.head(10)

# The data appear to be SAT scores (broken down by sections - Verbal and Math) along with State and Participation
# Rate info

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 2. Create a "data dictionary" based on the data

---

A data dictionary is an object that describes your data. This should contain the name of each variable (column), the type of the variable, your description of what the variable is, and the shape (rows and columns) of the entire dataset.

In [ ]:
sat_data_dictionary = {'State': 'Abbreviated US State', 'Rate': 'SAT participation Rate', 
                       'Verbal': 'Average SAT Verbal Score', 'Math': 'Average SAT Math Score'}

sat_data_dictionary

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 3. Plot the data using seaborn

---

### 3.1 Using seaborn's `distplot`, plot the distributions for each of `Rate`, `Math`, and `Verbal`

Set the keyword argument `kde=False`. This way you can actually see the counts within bins. You can adjust the number of bins to your liking. 

[Please read over the `distplot` documentation to learn about the arguments and fine-tune your chart if you want.](https://stanford.edu/~mwaskom/software/seaborn/generated/seaborn.distplot.html#seaborn.distplot)

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

fig, ax = plt.subplots(1, 3, figsize=(12, 6))

ax1, ax2, ax3 = ax[0], ax[1], ax[2]

ax1 = sns.distplot(sat_data.Rate, kde=False, bins=20, ax=ax1)
ax2 = sns.distplot(sat_data.Verbal, kde=False, bins=20, ax=ax2)
ax3 = sns.distplot(sat_data.Math, kde=False, bins=20, ax=ax3)

ax1.set_title('State SAT Participation Rate')
ax2.set_title('Average Verbal SAT Score')
ax3.set_title('Average Math SAT Score')

plt.show()

### 3.2 Using seaborn's `pairplot`, show the joint distributions for each of `Rate`, `Math`, and `Verbal`

Explain what the visualization tells you about your data.

[Please read over the `pairplot` documentation to fine-tune your chart.](https://stanford.edu/~mwaskom/software/seaborn/generated/seaborn.pairplot.html#seaborn.pairplot)

In [ ]:
sns.pairplot(sat_data)

# 1. There appears to be a non-linear relationship between 'Rate' and ['Verbal', 'Math'].
# 2. There appears to be a linear relationship between 'Math' and 'Verbal'

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 4. Plot the data using built-in pandas functions.

---

Pandas is very powerful and contains a variety of nice, built in plotting functions for your data. Read the documentation here to overview and understand the capabilities:

http://pandas.pydata.org/pandas-docs/stable/visualization.html

### 4.1 Plot a stacked histogram with `Verbal` and `Math` using pandas

In [ ]:
sat_scores = sat_data[['Verbal', 'Math']]

sat_scores.plot(stacked=True, kind='hist')

### 4.2 Plot `Verbal` and `Math` on the same chart using boxplots (pandas or seaborn)

What are the benefits of using a boxplot as compared to a scatterplot or a histogram?

What's wrong with plotting a box-plot of `Rate` on the same chart as `Math` and `Verbal`?

In [ ]:
sat_scores.plot(kind='box')

# 1. The benefits of using a boxplot as compared to a scatterplot or a histogram are as follows:
#   
#   - They're easier to interpret when comparing 2 datasets side by side.
#   - They clearly identify outliers (if there are any)

# 2. 'Rate' isn't on the same scale as 'Math' and 'Verbal' so plotting a boxplot of 'Rate' on the same chart 
#     wouldn't be appropriate.

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 4.3 Plot `Verbal`, `Math`, and `Rate` appropriately on the same boxplot chart (pandas or seaborn)

Think about how you might change the variables so that they would make sense on the same chart. Explain your rationale for the choices on the chart. You should strive to make the chart as intuitive as possible.

In [ ]:
sat_data_normed = (sat_data - sat_data.mean()) / sat_data.std()

sat_data_normed[['Verbal', 'Math', 'Rate']].plot(kind='box')

# I've normalized the data so that it makes sense to look at it side by side on the same chart.

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 5. Create and examine subsets of the data

---

For these questions you will practice **masking** in pandas. Recall that masking uses conditional statements to select portions of your DataFrame (through boolean operations under the hood.)

Remember the distinction between DataFrame indexing functions in pandas:

    .iloc[row, col] : row and column are specified by index, which are integers
    .loc[row, col]  : row and column are specified by string "labels" (boolean arrays are allowed; useful for rows)
    .ix[row, col]   : row and column indexers can be a mix of labels and integer indices
    
For detailed reference and tutorial make sure to read over the pandas documentation:

http://pandas.pydata.org/pandas-docs/stable/indexing.html



### 5.1 Find the list of states that have `Verbal` scores greater than the average of `Verbal` scores across states

How many states are above the mean? What does this tell you about the distribution of `Verbal` scores?

In [ ]:
avg_verbal_score = sat_data.Verbal.mean()

print sat_data[sat_data.Verbal > avg_verbal_score] # List of states having Verbal scores > avg score across states

print '\n\n', sat_data[sat_data.Verbal > avg_verbal_score].shape[0] # No. of states having Verbal scores above mean

# Close to half the states have a Verbal average score higher than the average across all states. The Verbal score 
# appears to be symmetrically distributed around the mean (532).

sat_data.Verbal.plot(kind='hist')

### 5.2 Find the list of states that have `Verbal` scores greater than the median of `Verbal` scores across states

How does this compare to the list of states greater than the mean of `Verbal` scores? Why?

In [ ]:
median_verbal_score = sat_data.Verbal.median()

print sat_data[sat_data.Verbal > median_verbal_score]

print '\n\n', sat_data[sat_data.Verbal > median_verbal_score].shape[0]

# Again, around half the states have a Verbal score above the median. The distribution of Verbal scores appears to 
# be bimodal and symmetric.

### 5.3 Create a column that is the difference between the `Verbal` and `Math` scores

Specifically, this should be `Verbal - Math`.

In [ ]:
sat_data['diff'] = sat_data.Verbal - sat_data.Math

sat_data.head()

### 5.4 Create two new DataFrames showing states with the greatest difference between scores

1. Your first DataFrame should be the 10 states with the greatest gap between `Verbal` and `Math` scores where `Verbal` is greater than `Math`. It should be sorted appropriately to show the ranking of states.
2. Your second DataFrame will be the inverse: states with the greatest gap between `Verbal` and `Math` such that `Math` is greater than `Verbal`. Again, this should be sorted appropriately to show rank.
3. Print the header of both variables, only showing the top 3 states in each.

In [ ]:
df_1 = sat_data.sort_values(['diff'], ascending=False)[:10]
df_2 = sat_data.sort_values(['diff'], ascending=True)[:10]

print df_1.head(3), '\n\n', df_2.head(3)

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 6. Examine summary statistics

---

Checking the summary statistics for data is an essential step in the EDA process!

### 6.1 Create the correlation matrix of your variables (excluding `State`).

What does the correlation matrix tell you?

In [ ]:
sat_data.corr()

# 'Rate' is highly correlated with 'Verbal' and 'Math'
# 'Verbal' and 'Math' are highly correlated

### 6.2 Use pandas'  `.describe()` built-in function on your DataFrame

Write up what each of the rows returned by the function indicate.

In [ ]:
sat_data.describe().T

# General: There are 52 rows, 4 columns with numerical data
# 1. Participation Rate of States varies from 4% to 82%, with a mean of 37%
# 2. Verbal scores vary from 482 to 593 with a mean of 532
# 3. Math scores vary from 439 to 603 with a mean of 531
# 4. The difference between Math and Verbal scores varies from 30 to 95, with a mean of 0.5

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 6.3 Assign and print the _covariance_ matrix for the dataset

1. Describe how the covariance matrix is different from the correlation matrix.
2. What is the process to convert the covariance into the correlation?
3. Why is the correlation matrix preferred to the covariance matrix for examining relationships in your data?

In [ ]:
sat_cov_matrix = sat_data.cov()

sat_cov_matrix

# 1. The correlation matrix is standardized while the covariance matrix isn't.
# 2. The covariance matrix divided by the standard deviations of the columns in question is equal to the correlation
#    matrix.
# 3. It is easier to understand and interpret courtesy of being standardized.

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 7. Load Iowa Liquor Sales dataset

---

The state of Iowa provides many data sets on their website, including [this dataset](https://www.dropbox.com/sh/pf5n5sgfgiri3i8/AACkaMeL_i_WgZ00rpxOOcysa?dl=0) which contains transactions for all stores that have a class E liquor license. You can choose one of the following two scenarios.

The data can also be found [directly on their website](https://data.iowa.gov/Economy/Iowa-Liquor-Sales/m3tr-qhgy), which allows you to explore it graphically and download it (though it doesn't work very well).

NOTE: Some of you may have computer issues with the full dataset. In this case, feel free to use [this 10% dataset version of Iowa liquor sales](https://drive.google.com/file/d/0Bx2SHQGVqWaseDB4QU9ZSVFDY2M/view?usp=sharing). You may want to use it anyway to test and prototype your code since it will be faster, before running it on the full dataset.

In [154]:
iowa_file = '../../DSI-SF-4/datasets/iowa_liquor/Iowa_Liquor_sales_sample_10pct.csv'

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 7.1 Do an initial overview of the data

---

At the very least describe the columns/variables and the datatypes.

In [155]:
iowa_liquor = pd.read_csv(iowa_file)

print iowa_liquor.info()
iowa_liquor.describe().T

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 18 columns):
Date                     270955 non-null object
Store Number             270955 non-null int64
City                     270955 non-null object
Zip Code                 270955 non-null object
County Number            269878 non-null float64
County                   269878 non-null object
Category                 270887 non-null float64
Category Name            270323 non-null object
Vendor Number            270955 non-null int64
Item Number              270955 non-null int64
Item Description         270955 non-null object
Bottle Volume (ml)       270955 non-null int64
State Bottle Cost        270955 non-null object
State Bottle Retail      270955 non-null object
Bottles Sold             270955 non-null int64
Sale (Dollars)           270955 non-null object
Volume Sold (Liters)     270955 non-null float64
Volume Sold (Gallons)    270955 non-null float64
dtypes: float64(4), int64(5), object(9)
memory usage: 37.2+ MB
None

,count,mean,std,min,25%,50%,75%,max
Store Number,270955.0,3.590264e+03,947.662050,2106.00,2604.0,3722.00,4378.00,9023.00
County Number,269878.0,5.723164e+01,27.341205,1.00,NaN,NaN,NaN,99.00
Category,270887.0,1.043888e+06,50182.111075,1011100.00,NaN,NaN,NaN,1701100.00
Vendor Number,270955.0,2.564344e+02,141.014890,10.00,115.0,260.00,380.00,978.00
Item Number,270955.0,4.597496e+04,52757.043086,168.00,26827.0,38176.00,64573.00,995507.00
Bottle Volume (ml),270955.0,9.248303e+02,493.088489,50.00,750.0,750.00,1000.00,6000.00
Bottles Sold,270955.0,9.871285e+00,24.040912,1.00,2.0,6.00,12.00,2508.00
Volume Sold (Liters),270955.0,8.981351e+00,28.913690,0.10,1.5,5.25,10.50,2508.00
Volume Sold (Gallons),270955.0,2.372830e+00,7.638182,0.03,0.4,1.39,2.77,662.54

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 8. Clean the liquor dataset

---

### 8.1 Identify columns that you will need to convert and clean. Where and how is the data corrupted?

Don't worry about converting the date column to a pandas/numpy "datetime" datatype, unless you want to (not required for these problems and is a challenging thing to work with in its own right.)

In [156]:
# Columns to be converted:

# 1. 'County Number', 'County', 'Category', 'Category Name' contain missing values.
# 2. The dtypes for 'Date', 'Store Number', 'Zip Code', 'County Number', 'Category', 'Vendor Number', 'Item Number',
#    'State Bottle Cost', 'State Bottle Retail', 'Sale (Dollars)' aren't appropriate.
# 3. Remove '$' sign from State Bottle Cost, State Bottle Retail, Sale (Dollars) 

# 1. 

miss_cols = ['County Number', 'County', 'Category', 'Category Name']

for col in miss_cols:
    iowa_liquor[col] = iowa_liquor[col].astype(object)
    iowa_liquor[col].fillna(0, inplace=True)

    
iowa_liquor[iowa_liquor['County Number'] == 0].head(10)

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
135,01/20/2016,5222,CEDAR RAPIDS,52402,0.0,0,1051010.0,AMERICAN GRAPE BRANDIES,115,53214,Paul Masson Grande Amber Brandy,375,$3.22,$4.83,24,$115.92,9.00,2.38
198,03/02/2016,3820,SIOUX CITY,51103,0.0,0,1032080.0,IMPORTED VODKA,35,34359,Grey Goose Vodka,200,$5.00,$7.50,12,$90.00,2.40,0.63
272,03/21/2016,4222,EVANSDALE,50707,0.0,0,1062300.0,FLAVORED RUM,370,42716,Malibu Coconut Rum,750,$7.49,$11.24,3,$33.72,2.25,0.59
290,03/21/2016,5236,ANAMOSA,52205,0.0,0,1081600.0,WHISKEY LIQUEUR,421,64868,Fireball Cinnamon Whiskey,1750,$15.33,$23.00,6,$138.00,10.50,2.77
321,02/23/2016,4203,WAVERLY,50677,0.0,0,1051100.0,APRICOT BRANDIES,434,55084,Paramount Blackberry Brandy,375,$3.55,$5.33,24,$127.92,9.00,2.38
863,01/11/2016,2460,HAMPTON,50441,0.0,0,1011200.0,STRAIGHT BOURBON WHISKIES,461,77776,Wild Turkey American Honey,750,$10.50,$15.75,3,$47.25,2.25,0.59
964,05/19/2015,4247,BELMOND,50421,0.0,0,1012100.0,CANADIAN WHISKIES,55,12408,Canadian Ltd Whisky,1750,$9.14,$13.71,6,$82.26,10.50,2.77
982,03/30/2016,5222,CEDAR RAPIDS,52402,0.0,0,1031080.0,VODKA 80 PROOF,300,36904,Mccormick Vodka Pet,375,$1.80,$2.70,24,$64.80,9.00,2.38
1024,03/23/2016,3820,SIOUX CITY,51103,0.0,0,1081390.0,IMPORTED SCHNAPPS,421,69637,Dr. Mcgillicuddy's Cherry Schnapps,1000,$11.00,$16.50,24,$396.00,24.00,6.34
1630,02/10/2016,5224,CORALVILLE,52241,0.0,0,1062310.0,SPICED RUM,260,43337,Captain Morgan Spiced Rum,1000,$11.75,$17.63,12,$211.56,12.00,3.17

In [157]:
# 2. 

cat_cols = ['Store Number', 'Zip Code', 'County Number', 'Category', 'Vendor Number', 'Item Number']

for col in cat_cols:
    iowa_liquor[col] = iowa_liquor[col].astype('category')

In [158]:
price_cols = ['State Bottle Cost', 'State Bottle Retail', 'Sale (Dollars)']

for col in price_cols:
    iowa_liquor[col] = iowa_liquor[col].str.replace('$', '')
    iowa_liquor[col] = iowa_liquor[col].astype(float)
    
iowa_liquor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 18 columns):
Date                     270955 non-null object
Store Number             270955 non-null category
City                     270955 non-null object
Zip Code                 270955 non-null category
County Number            270955 non-null category
County                   270955 non-null object
Category                 270955 non-null category
Category Name            270955 non-null object
Vendor Number            270955 non-null category
Item Number              270955 non-null category
Item Description         270955 non-null object
Bottle Volume (ml)       270955 non-null int64
State Bottle Cost        270955 non-null float64
State Bottle Retail      270955 non-null float64
Bottles Sold             270955 non-null int64
Sale (Dollars)           270955 non-null float64
Volume Sold (Liters)     270955 non-null float64
Volume Sold (Gallons)    270955 non-null float64
dtypes: category(6), float64(5), int64(2), object(5)
memory usage: 27.2+ MB

<img src="http://imgur.com/xDpSobf.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

### 8.2 Perform more extensive cleaning of the dataset

Cleaning of data can mean a lot more than just fixing strings and numbers in columns. There are often logical errors with data, useless or nonsensical categories, redundancy of information, outliers, and many more problems.

This dataset has problems beyond just fixing the types of columns. Though resolving them may not be required for EDA and analysis, if you want experience with "deeper" cleaning of data this is a great dataset to start practicing with.

Keep in mind that some types of "data cleaning" is subjective: it's not always a cut-and-dry conversion of type or removal of null values. Subjectivity when dealing with data is just a fact of life for a data scientist. This isn't a kind of programming where things are just right or wrong.

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 9. Filter/adjust the store data

---

Some stores may have opened or closed in 2015. These stores will have incorrect yearly summary statistics since they were not open the full year. We need to filter them out or find another way to deal with the inconsistent numbers of months across stores.

It is up to you how you want to deal with this problem.

1. Investigate problematic stores.
2. Decide on an approach to handle missing data for stores not open for the full 2015 year. Do you impute? Remove the stores? Something else?
3. Implement your plan.
4. Briefly report on what you did and why.

In [159]:
iowa_liquor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270955 entries, 0 to 270954
Data columns (total 18 columns):
Date                     270955 non-null object
Store Number             270955 non-null category
City                     270955 non-null object
Zip Code                 270955 non-null category
County Number            270955 non-null category
County                   270955 non-null object
Category                 270955 non-null category
Category Name            270955 non-null object
Vendor Number            270955 non-null category
Item Number              270955 non-null category
Item Description         270955 non-null object
Bottle Volume (ml)       270955 non-null int64
State Bottle Cost        270955 non-null float64
State Bottle Retail      270955 non-null float64
Bottles Sold             270955 non-null int64
Sale (Dollars)           270955 non-null float64
Volume Sold (Liters)     270955 non-null float64
Volume Sold (Gallons)    270955 non-null float64
dtypes: category(6), float64(5), int64(2), object(5)
memory usage: 27.2+ MB

In [162]:
iowa_liquor.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,APRICOT BRANDIES,55,54436,Mr. Boston Apricot Brandy,750,4.50,6.75,12,81.00,9.0,2.38
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,BLENDED WHISKIES,395,27605,Tin Cup,750,13.75,20.63,2,41.26,1.5,0.40
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,STRAIGHT BOURBON WHISKIES,65,19067,Jim Beam,1000,12.59,18.89,24,453.36,24.0,6.34
3,2016-02-03,2501,AMES,50010,85.0,Story,1071100.0,AMERICAN COCKTAILS,395,59154,1800 Ultimate Margarita,1750,9.50,14.25,6,85.50,10.5,2.77
4,2015-08-18,3654,BELMOND,50421,99.0,Wright,1031080.0,VODKA 80 PROOF,297,35918,Five O'clock Vodka,1750,7.20,10.80,12,129.60,21.0,5.55

In [161]:
iowa_liquor['Date'] = pd.to_datetime(iowa_liquor['Date'])

min_date = iowa_liquor.groupby('Store Number').agg({'Date':min}).reset_index()
max_date = iowa_liquor.groupby('Store Number').agg({'Date':max}).reset_index()
stores_open_duration_2015 = pd.merge(left=min_date, right=max_date, how='outer', on='Store Number', suffixes=['_min', '_max'])
                                                     
stores_open_duration_2015['open_duration'] = stores_open_duration_2015.Date_max - stores_open_duration_2015.Date_min
stores_open_duration_2015['open_duration'].describe().T

count                        1400
mean     393 days 23:08:34.285714
std      109 days 00:43:57.454928
min               0 days 00:00:00
25%             406 days 00:00:00
50%             441 days 00:00:00
75%             448 days 00:00:00
max             451 days 00:00:00
Name: open_duration, dtype: object

In [163]:
# Testing

iowa_liquor['Category Name'].value_counts()

VODKA 80 PROOF                        35373
CANADIAN WHISKIES                     27087
STRAIGHT BOURBON WHISKIES             15342
SPICED RUM                            14631
VODKA FLAVORED                        14001
TEQUILA                               12109
BLENDED WHISKIES                      11547
WHISKEY LIQUEUR                       10902
IMPORTED VODKA                        10668
PUERTO RICO & VIRGIN ISLANDS RUM      10062
FLAVORED RUM                           7282
TENNESSEE WHISKIES                     7081
AMERICAN COCKTAILS                     6929
AMERICAN GRAPE BRANDIES                6589
AMERICAN DRY GINS                      6559
IMPORTED VODKA - MISC                  6506
MISC. IMPORTED CORDIALS & LIQUEURS     6299
CREAM LIQUEURS                         6284
SCOTCH WHISKIES                        5375
IMPORTED GRAPE BRANDIES                4614
IMPORTED SCHNAPPS                      4249
MISC. AMERICAN CORDIALS & LIQUEURS     3394
100 PROOF VODKA                        3304
PEPPERMINT SCHNAPPS                    3221
IMPORTED DRY GINS                      2939
IRISH WHISKIES                         2791
SINGLE MALT SCOTCH                     2288
COFFEE LIQUEURS                        1914
PEACH SCHNAPPS                         1650
BLACKBERRY BRANDIES                    1580
                                      ...
AMERICAN ALCOHOL                        573
WATERMELON SCHNAPPS                     479
BARBADOS RUM                            393
JAMAICA RUM                             385
GRAPE SCHNAPPS                          333
CHERRY BRANDIES                         330
ROOT BEER SCHNAPPS                      324
SINGLE BARREL BOURBON WHISKIES          319
RASPBERRY SCHNAPPS                      304
STRAWBERRY SCHNAPPS                     302
IMPORTED AMARETTO                       276
GREEN CREME DE MENTHE                   259
FLAVORED GINS                           250
TROPICAL FRUIT SCHNAPPS                 235
WHITE CREME DE CACAO                    201
BOTTLED IN BOND BOURBON                 190
AMERICAN SLOE GINS                      169
DARK CREME DE CACAO                     157
MISCELLANEOUS  BRANDIES                 144
SPEARMINT SCHNAPPS                       99
ROCK & RYE                               86
OTHER PROOF VODKA                        78
WHITE CREME DE MENTHE                    61
CREME DE ALMOND                          52
ANISETTE                                 35
JAPANESE WHISKY                          23
LOW PROOF VODKA                          15
CORN WHISKIES                            12
AMARETTO - IMPORTED                       3
HIGH PROOF BEER - AMERICAN                2
Name: Category Name, dtype: int64

In [164]:
# Since the number of days that stores were open varies so much, let's try to obtain what numbers each store 'would' 
# or 'might' have in 365 days by scaling the 'Bottle Volume (ml)', 'Sale (Dollars)', 'State Bottle Retail', 
# 'Bottles Sold', 'State Bottle Cost' to 'per 365 days'

from datetime import timedelta

yearly_summary_stats = iowa_liquor.groupby('Store Number').agg({'Date':min, 'Bottle Volume (ml)':np.sum, 
                                                                'State Bottle Cost':np.sum,
                                                               'State Bottle Retail':np.sum,
                                                               'Bottles Sold':np.sum,
                                                               'Sale (Dollars)':np.sum}).reset_index()

max_date = iowa_liquor.groupby('Store Number').agg({'Date':max}).reset_index()
yearly_summary_stats = pd.merge(left=yearly_summary_stats, right=max_date, how='outer', on='Store Number', suffixes=['_min','_max']).reset_index()

yearly_summary_stats['open duration'] = (yearly_summary_stats.Date_max - yearly_summary_stats.Date_min) / timedelta (days=1)

cols_to_be_scaled = ['Bottle Volume (ml)', 'Sale (Dollars)', 'State Bottle Retail', 'Bottles Sold', 'State Bottle Cost']

scaled_sum_stats = yearly_summary_stats

for col in cols_to_be_scaled:
    scaled_sum_stats[col+' (scaled)'] = (yearly_summary_stats[col].astype(float) / (yearly_summary_stats['open duration'])) * 365
    
scaled_sum_stats.head()

,index,Store Number,Bottle Volume (ml),Sale (Dollars),State Bottle Retail,Bottles Sold,State Bottle Cost,Date_min,Date_max,open duration,Bottle Volume (ml) (scaled),Sale (Dollars) (scaled),State Bottle Retail (scaled),Bottles Sold (scaled),State Bottle Cost (scaled)
0,0,2106,597350,176849.97,10138.83,12587,6753.92,2015-01-08,2016-03-31,448.0,486680.245536,144085.355022,8260.430692,10255.033482,5502.635714
1,1,2113,175625,11376.12,2993.26,830,1994.22,2015-01-07,2016-03-23,441.0,145358.560091,9415.609524,2477.414739,686.961451,1650.544898
2,2,2130,476375,139727.54,7651.68,9156,5099.22,2015-01-08,2016-03-31,448.0,388118.024554,113840.518080,6234.069643,7459.687500,4154.498438
3,3,2152,181500,9097.51,2198.51,709,1461.46,2015-01-08,2016-03-17,434.0,152644.009217,7651.131682,1848.977304,596.278802,1229.108065
4,4,2178,302875,29912.68,4257.50,2408,2833.94,2015-01-07,2016-03-30,448.0,246761.997768,24370.821875,3468.722098,1961.875000,2308.902009

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 10. Examine liquor profits

---

You are a data scientist in residence at the Iowa State tax board. The Iowa State legislature is considering changes in the liquor tax rates and has assigned you to the project.

### 10.1 Calculate yearly liquor sales for each store in 2015.

In [166]:
# iowa_liquor['Store Number'] = iowa_liquor['Store Number'].astype('category')
# iowa_liquor.head()

sales_by_store = iowa_liquor.groupby(by=['Store Number']).agg({'Sale (Dollars)':np.sum}).reset_index().sort_values('Store Number')
sales_by_store.head()

  Store Number  Sale (Dollars)
0         2106       176849.97
1         2113        11376.12
2         2130       139727.54
3         2152         9097.51
4         2178        29912.68

### 10.2 Calculate the profit each store is making in 2015.

In [167]:
iowa_liquor['Cost'] = iowa_liquor['State Bottle Cost'] * iowa_liquor['Bottles Sold']

cost_by_store = iowa_liquor.groupby(by=['Store Number']).agg({'Cost':np.sum}).reset_index().sort_values('Store Number')
cost_by_store.head()

profit_by_store = pd.concat(objs=[cost_by_store['Store Number'], sales_by_store['Sale (Dollars)'].astype(float) - cost_by_store['Cost'].astype(float)], axis=1)
profit_by_store.head()

profit_by_store.rename(columns={0:'Profit_2015'}, inplace=True)
profit_by_store.head()

  Store Number  Profit_2015
0         2106     59027.76
1         2113      3802.53
2         2130     46613.49
3         2152      3048.97
4         2178     10034.46

### 10.3 Investigate which Iowa counties are making the most profit on liquor per gallon in 2015.

In [168]:
profit_by_county = iowa_liquor.groupby('County').agg({'Sale (Dollars)':np.sum, 'Cost':np.sum, 'Volume Sold (Gallons)':np.sum}).reset_index()

profit_by_county['profit_per_gallon'] = (profit_by_county['Sale (Dollars)'] - profit_by_county['Cost']) / profit_by_county['Volume Sold (Gallons)']
profit_by_county.head().sort_values('profit_per_gallon', ascending=False)

,County,Cost,Sale (Dollars),Volume Sold (Gallons),profit_per_gallon
0,0,77799.07,116833.68,2031.87,19.211175
1,Adair,37006.05,55581.34,1152.08,16.123264
2,Adams,8290.72,12441.71,258.93,16.031321
3,Allamakee,65865.25,99024.76,2078.82,15.951121
4,Appanoose,65601.14,98527.16,2124.70,15.496785

### 10.4 Create a broader category for liquor type.

Liquor types are pretty granular in this dataset. Create a column that categorizes these types into a smaller amount of categories. The categories you decide on are up to you.

In [169]:
iowa_liquor['Category Name'].value_counts().head(20)

VODKA 80 PROOF                        35373
CANADIAN WHISKIES                     27087
STRAIGHT BOURBON WHISKIES             15342
SPICED RUM                            14631
VODKA FLAVORED                        14001
TEQUILA                               12109
BLENDED WHISKIES                      11547
WHISKEY LIQUEUR                       10902
IMPORTED VODKA                        10668
PUERTO RICO & VIRGIN ISLANDS RUM      10062
FLAVORED RUM                           7282
TENNESSEE WHISKIES                     7081
AMERICAN COCKTAILS                     6929
AMERICAN GRAPE BRANDIES                6589
AMERICAN DRY GINS                      6559
IMPORTED VODKA - MISC                  6506
MISC. IMPORTED CORDIALS & LIQUEURS     6299
CREAM LIQUEURS                         6284
SCOTCH WHISKIES                        5375
IMPORTED GRAPE BRANDIES                4614
Name: Category Name, dtype: int64

In [170]:
broad_cat_iowa_liquor = iowa_liquor

broad_cat_iowa_liquor['Category Name'] = iowa_liquor['Category Name'].str.replace('.*VODKA.*', 'vodka')
broad_cat_iowa_liquor['Category Name'] = iowa_liquor['Category Name'].str.replace('.*WHISK.*', 'whiskey')
broad_cat_iowa_liquor['Category Name'] = iowa_liquor['Category Name'].str.replace('.*RUM.*', 'rum')
broad_cat_iowa_liquor['Category Name'] = iowa_liquor['Category Name'].str.replace('.*LIQUE.*', 'liquers')
broad_cat_iowa_liquor['Category Name'] = iowa_liquor['Category Name'].str.replace('.*BEER.*', 'beer')

broad_cat_list = ['vodka', 'whiskey', 'rum', 'liquers', 'beer']

broad_cat_iowa_liquor['Category Name'][~(broad_cat_iowa_liquor['Category Name'].isin(broad_cat_list))] = 'other'

# broad_cat_iowa_liquor.loc[:,'Category Name'][~(broad_cat_iowa_liquor['Category Name'].isin(broad_cat_list))] = 'other'

broad_cat_iowa_liquor['Category Name'].value_counts()

/home/dsi-student/anaconda2/lib/python2.7/site-packages/ipykernel/__main__.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

whiskey    81867
vodka      69945
other      68173
rum        32753
liquers    17891
beer         326
Name: Category Name, dtype: int64

### 10.5 Do relationships exist between the broader liquor type and profit?

In [151]:
iowa_liquor.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,...,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Cost,-1,profit
0,2015-11-04,3717,SUMNER,50674,9.0,Bremer,1051100.0,other,55,54436,...,750.0,4.50,6.75,12.0,81.00,9.0,2.38,54.00,other,27.00
1,2016-03-02,2614,DAVENPORT,52807,82.0,Scott,1011100.0,whiskey,395,27605,...,750.0,13.75,20.63,2.0,41.26,1.5,0.40,27.50,other,13.76
2,2016-02-11,2106,CEDAR FALLS,50613,7.0,Black Hawk,1011200.0,whiskey,65,19067,...,1000.0,12.59,18.89,24.0,453.36,24.0,6.34,302.16,other,151.20
3,2016-02-03,2501,AMES,50010,85.0,Story,1071100.0,other,395,59154,...,1750.0,9.50,14.25,6.0,85.50,10.5,2.77,57.00,other,28.50
4,2015-08-18,3654,BELMOND,50421,99.0,Wright,1031080.0,vodka,297,35918,...,1750.0,7.20,10.80,12.0,129.60,21.0,5.55,86.40,other,43.20

In [174]:
iowa_liquor['profit'] = iowa_liquor['Sale (Dollars)'] - iowa_liquor['Cost']
profit_by_category = iowa_liquor.groupby('Category Name').agg({'profit':np.mean}).reset_index().sort_values('profit', ascending=False)
profit_by_category
# Whiskey and rum are the most profitable categories.

  Category Name     profit
5       whiskey  50.560720
3           rum  46.569359
1       liquers  41.273506
4         vodka  39.957759
2         other  36.269802
0          beer  21.577209

<img src="http://imgur.com/l5NasQj.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 11. Proposing a new liquor tax

---

### The tax board wants to design a tax or taxes that affect larger stores more than smaller "mom and pop" stores.

Based on your investigations into the data, come up with a way you could design a tax that achieves this goal **without explicitly taxing stores based on size or county critera.** The liqour board does not want to obviously punish larger stores or speific counties for fear of backlash, but is willing to tax hard alcohol more than beer, for example.

Feel free to do more EDA if it helps.

Your report should describe whether such a tax is possible or not, and the specifics of what the tax will target/do.

In [175]:
iowa_liquor.head()

# Taxing hard alcohol more than beer is a reasonable measure. Hard alcohol has high profit margins (see 10.5) and 
# would be able to absorb a hgiher tax much easier than beer, which is by far the least profitable category (and is
# also the category with the most number of 'mom and pop' or independent stores).

# I propose a tax proportional to the profit margin table from 10.5

#  	Category Name 	profit
# 5 	whiskey 	50.560720
# 3 	rum 	46.569359
# 1 	liquers 	41.273506
# 4 	vodka 	39.957759
# 2 	other 	36.269802
# 0 	beer 	21.577209

profit_by_category['tax'] = profit_by_category['profit'] / 100
profit_by_category

  Category Name     profit       tax
5       whiskey  50.560720  0.505607
3           rum  46.569359  0.465694
1       liquers  41.273506  0.412735
4         vodka  39.957759  0.399578
2         other  36.269802  0.362698
0          beer  21.577209  0.215772

In [ ]:
# I don't think there is an objectively good way to implement a tax using the data we have. Data about the Stores 
# would, of course, help tremendously. Knowing and understanding the differences between 'mom and pop' stores and
# large corporations would help build a progressive tax to promote/protect smaller 'mom and pop' stores.

<img src="http://imgur.com/GCAf1UX.png" style="float: left; margin: 25px 15px 0px 0px; height: 25px">

## 12. Time-related effects

---

You could imagine that liquor sales might be affected by a variety of effects related to time. Do people buy more beer in the summer? Do liquor sales skyrocket in december? Do people buy less liquor on Tuesdays?

You have the date of sales in your dataset, which you can use to pull out time components.

1. Come up with 2 different hypotheses about how liquor sales may vary with time-related variables. 
2. Create a visualization exploring each hypothesis.
3. Write brief concluding remarks on what you observed.